.footer
	.container
		h1 Want to know more?
		p.lead Try our virtual Global Campus Rotation experience, to get a glimpse of how your year with Hult could shape up.
		button.hult Try it now!
.btm-footer
	.skew
		.footer-inner
footer
	.container-fluid
		.footer-info
			.col-sm-8
				span Hult International Business School, Inc. is a non profit corporation organized in the Commonwealth of Massachusetts and accredited by the NEASC.
					br
				span Copyright &copy; 2015 Hult International Business School. All Rights Reserved. Privacy Policy
			.col-sm-4
				h1.pull-right Hult