.header
	.skew
		.header-inner
			.container
				.row
					.col-sm-6
						a(href='/')
							h1.logo Hult
					.col-sm-6
						div(class='pull-right header-info')
							if !user
								span(class=(title == 'Login') ? 'active' : undefined)
									a(href='/login') Login
								span(class=(title == 'Create Account') ? 'active' : undefined)
									a(href='/signup') Create Account
							else
								span.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										if user.profile.picture
											img(src='#{user.profile.picture}')
										else
											img(src='#{user.gravatar(60)}')
										| #{user.profile.name || user.email || user.id}&nbsp;
										i.caret
									ul.dropdown-menu
										span
											a(href='/account') My Account
										span.divider
										span
											a(href='/logout') Logout
							.profile-pic
								img(class='circle', src='./img/melissa.jpg')
